/* Arreglos para pagina de Mercado */
body{
    position: relative;
    min-height: 100vh;
}

#table-container {
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding-top: 30px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo para filas impares de datos */
}

tbody tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo para filas pares de datos */
}

thead th {
    background-color: #cccccc; /* Color de fondo para la fila de encabezados */
    color: black; /* Color del texto de los encabezados */
}

th, td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.selector{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#table-selector{ 
    margin-top: 100px;
    padding: 8px;
    font-size: 20px;
    border: 4px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.dolarContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 40px;
}
  
.dolaritem {
    padding: 10px;
}



@media (min-width:900px){  
    table{
        padding: 10px 60px;
        
    }
}