#table-container {
    padding: 10px;
    width: 80%;;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    align-items: space-between;
    height: 60vh;
}

th, td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.selector{
    text-align: center;
}
#table-selector{ 
    margin-top: 90px;
    padding: 8px;
    font-size: 20px;
    border: 4px solid #ccc;
    border-radius: 8px;
    align-items: right;
    justify-content: center;  
    
}

tfoot{
    font-size: 10px;
    text-align: center;
}

.dolarContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-top: -25px;
    margin-left: -50px;
}
  
.dolaritem {
    width: 280px;
    height: 220px;
    margin: 30px;
    

} 


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

@media (max-width:630px){ 
    #ultimo{
        margin-bottom: 130px;
    }
    .dolaritem{
        margin-left: 25px;
    }
}