*{
    box-sizing: border-box;
    
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

body{
    font-family: 'Montserrat';
    margin: 0; 
    position: relative;
    padding-bottom: 4em;
} 

button{
    font-size: 30px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 60px;
    color: #FFE8D1;
    background-color: #941B0C;
    cursor: pointer;
} 


.boton_header{
    font-size: 20px;
    padding: 10px 20px;
}
button:hover{
    background-color:rgb(106, 26, 26);
} 

/*  HEADER */ 

header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items:center ;
    background-color: #1E1E24;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    height: 11vh;
    z-index: 1;
    
}

.logo  {
    width: 90px;
    padding: 8px;
    
}

.opcionesInd{
    list-style-type: none;
    display: flex; 
    align-items: center;
} 


.opcionesInd li a{
    text-decoration: none;
    color:#FFE8D1;
    padding: 20px 10px; 
}

.opcionesInd li a:hover {
    color: #941B0C; 
}


.abrir-menu ,
.cerrar-menu{
    display: none;

} 

/*  TERMINO EL HEADER*/

#hero {
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center; 
    flex-direction: column;
    padding-bottom: 25px; 
    height: 90vh; 
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5))
        ,url(imagenes/campo.jpeg); 
    background-repeat: no-repeat ;
    background-size: cover;
} 
#hero h1{ color: #FFE8D1}  

#quienes-somos .container{
    text-align: center ;
    padding: 60px 12px;
    background-color: #1E1E24;
    color: #FFE8D1;
}

#quienes-somos p{
    font-size: 26px;
}



#nuestros-servicios .container{
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.7),
        rgb(0,0,0,0.7))
        ,url(imagenes/novi.jpeg); 
    background-repeat: no-repeat ;
    background-size: cover; 
    color: #FFE8D1;
    padding: 110px 10px;
}

#nuestros-servicios p{
    display: none;
    text-align: center;
}

#nuestros-servicios h2{
    margin-top: none;
    margin-bottom: 100px;
    font-size: 50px;
} 

#nuestros-servicios .carta{
    border: solid 5px #FFE8D1;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
} 

footer {
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    background-color: #60606d;
    width: 100%;
    z-index: -1;
    
}

footer p{
   font-size: 15px;
}

footer .container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    width: 100%;
 } 

