*{
    box-sizing: border-box;  
    
}

.contacto {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 80px;
    min-height: 95vh;
    flex: 1; 

}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

.form label {
    margin-bottom: 5px;
    font-size: 20px;
}

.form input,
.form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

.info h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

a{ 
    text-decoration: none;
    color: inherit;
}

.info img {
    width: 20px;
    height: auto;
    margin-right: 5px;
} 

.form{
    padding-top: 10px;
    padding-bottom: 60px;
} 


#map{ 
    height: 50vh;
    margin: 10px ;
    margin: 20px ;
    margin-top: 0;
    align-items: center;
}


@media (min-width:900px){  
    .form{
        padding-top: 40px;
        padding-bottom: 20px;
    }  

    
}