*{
    box-sizing: border-box;
    
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
body{
    font-family: 'Montserrat';
    margin: 0; 

} 

button{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    color: #FFE8D1;
    background-color: #941B0C;
    cursor: pointer;
} 

button:hover{
    background-color:rgb(106, 26, 26);
} 

header { 
    position: fixed;
    background-color:#1E1E24; 
    display: flex;
    width: 100%;
} 

header .container{ 
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 5px;

}

header .logo{
    height: 40px;
    width: 40px;
} 

header nav{
    display: flex;
    align-items:center;
    justify-content: right;
    width: 80%;

} 

header a{ 
    padding: 0px 8px;
    text-decoration: none;
    font-weight: bold; 
    text-align: center;
    color: #FFE8D1;
    font-size: 11px; 
    font-family: sans-serif;
     
} 

header .boton_header{
    font-size: 13px; 
    font-family: sans-serif;
    margin-right: auto;

}

.boton_header:hover{
    color: #FFE8D1
}

header :hover{
    color:#941B0C
} 

#hero {
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center; 
    flex-direction: column;
    padding-bottom: 25px; 
    height: 90vh; 
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5))
        ,url(imagenes/campo.jpeg); 
    background-repeat: no-repeat ;
    background-size: cover;
} 
#hero h1{ color: #FFE8D1}  

#quienes-somos .container{
    text-align: center ;
    padding: 50px 12px;
    background-color: #1E1E24;
    color: #FFE8D1;
}

#quienes-somos p{
    font-size: 26px;
}



#nuestros-servicios .container{
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.7),
        rgb(0,0,0,0.7))
        ,url(imagenes/novi.jpeg); 
    background-repeat: no-repeat ;
    background-size: cover; 
    color: #FFE8D1;
    padding: 110px 10px;
}

#nuestros-servicios p{
    display: none;
}

#nuestros-servicios h2{
    margin-top: none;
    margin-bottom: 100px;
    font-size: 50px;
} 

#nuestros-servicios .carta{
    border: solid 5px #FFE8D1;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
} 

footer {
    color: #FFFFFF;
    background-color: #60606d;
    padding: auto;
    margin: 0;
    height: auto;
}

footer p{
   margin: 0;
   font-size: 15px;
}

footer .container{
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 10px;
 } 
