/* Arreglos para desktop de la pagina principal*/

@media (min-width:900px){ 
    .logo{ 
        margin-left: 10px;
        width: 100px;
    }

    #hero{ 
        height: 96vh;
    }

    #quienes-somos .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #quienes-somos .image-container{
        background-image: url(imagenes/logo-2.png);
        background-size: cover;
        height: 400px; 
        width: 400px; 
        justify-self: center; 
        align-self: center; 
    
    }
    #quienes-somos .texto{
        text-align: initial;
        justify-content: center;
        margin-left:30px ;
    }

    #nuestros-servicios .carta{
        padding:50px ;
        padding-left: 80px;
        padding-right: 80px;
        border: none;
    }  
    
    #nuestros-servicios .container{
        display: grid;
        grid-template-rows: 1fr 4fr;
    } 

    #nuestros-servicios .target{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    } 

    #nuestros-servicios h3{
        margin: 0;
        font-size: 26px;
    }
    #nuestros-servicios p{
        display: block;
        font-size: 20px;
    } 

    #nuestros-servicios .carta button {
        display: none;
    }

   
}


@media (max-width:750px){ 
 
     .abrir-menu, 
     .cerrar-menu{
        display: block;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        color: brown;
        
    } 

    .opciones{
        position: fixed;
        display: none;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5) ; 
        background-color:#1E1E24;
        
    }

    .opciones.visible{
        opacity: 1;
        visibility: visible;
    }

    .opcionesInd{
        flex-direction: column;
        align-items: end;
    }

    .opcionesInd li a{
        text-decoration: none;
        color:#FFE8D1;
    }
    
    .opcionesInd li{
        margin: 20px;
        font-size: 25px;
    }
}