#dolar-info{
    padding-top: 80px;

}

#table-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 100px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }