@media (min-width:700px){ 
    
    header a{
        font-size: 19px;
        padding-right: 25px;
    }
    header .logo{
        margin: 0 ;
        padding: 0;
        width: 60px; 
        height: 60px;
    } 
    header .boton_header{
        font-size: 16px; 
        font-family: sans-serif;
        margin-right: auto;
    
    }

    #quienes-somos .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #quienes-somos .image-container{
        background-image: url(imagenes/logo-2.png);
        background-size: cover;
        height: 400px; 
        width: 400px; 
        justify-self: center; /* Centra horizontalmente */
        align-self: center; /* Centra verticalmente */
    
    }
    #quienes-somos .texto{
        text-align: initial;
        justify-content: center;
        margin-left:30px ;
    }
    /*   ESTO ES CON FLEXBOX, LO DEJO COMO EJEMPLO
    #quienes-somos .container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

    }

    #quienes-somos .texto{
        text-align: initial;
        width: 60%;
        padding: 0px 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 70px;
        
    } 
    
    #quienes-somos .image-container{
        background-image: url(imagenes/logo-2.png);
        background-size: cover;
        background-position: center center;
        width: 40%;
        background-repeat: no-repeat;  
        height: 400px; 
        width: 400px;
        margin: auto;
       
    } 
    
/*    #nuestros-servicios .target{
        display: flex;
        justify-content: center;
    }

    #nuestros-servicios h3{
        margin-top: 5px;
    }
*/
    #nuestros-servicios .carta{
        padding:15px ;
        border: none;
    }  
    
    #nuestros-servicios .container{
        display: grid;
        grid-template-rows: 1fr 4fr;
    } 

    #nuestros-servicios .target{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    } 

    #nuestros-servicios h3{
        margin: 0;
    }
    #nuestros-servicios p{
        display: block;
    }

}